* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

.custom-banner {
    position: relative;
    z-index: 0;
}

.container {
    margin-bottom: 0.5rem;
}

.bordergreen {
    border: green solid 1px;
}

ul li {
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    text-decoration: none;
    width: 90%;
    margin-top: 0.5rem;
    margin-left: 5%;
    margin-bottom: 0.5rem;
    font-size: 100%;
    justify-content: space-between;
}

.menu1 {
    display: flex;
    ;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.menu2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}

input {
    outline: none;
    outline-style: none;
    border: black solid;
    width: 20rem;
    padding: 1.5%;
}

select {
    padding: 0.2rem;
    outline: none;
    outline-style: none;
    border: black solid;
    width: 7rem;
    padding: .6%;
}

#login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login:hover {
    text-decoration: underline;
    cursor: pointer;
}

#cartLogo:hover {
    cursor: pointer;
}

.blank {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: 170%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    transition: ease-in-out;
}

.cart {
    display: none;
    position: absolute;
    width: 25%;
    left: 100%;
    height: 170%;
    top: 0;
    background: rgba(243, 245, 237, 0.897);
    z-index: 10;
    transition: all .5s;
    overflow: scroll;
}

.cartTop {
    height: 3%;
    background: rgba(65, 65, 65, 0.9);
    display: flex;
    justify-content: space-between;
}

#back:hover {
    cursor: pointer;
}

#clean:hover {
    cursor: pointer;
}

.cartBottom {
    height: 100%;
    background: rgba(243, 245, 237, 0.897);
}

.cartImg:hover {
    cursor: pointer;
}

.cartImg {
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.btn {
    color: aliceblue;
    background-color: black;
    padding: 1.5rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-color: black;
    font-size: 1rem;
    position: absolute;
    outline: none;
    outline-style: none;
    
}

.firstBtn {
    left: 2%;
    top: 69%;
}

.secondBtn {
    left: 32%;
    top: 80%;
}

.thirdBtn {
    left: 40.5%;
    top: 48%;
}

.forthBtn {
    left: 60.7%;
    top: 61%;
}

.fifthBtn {
    left: 90.7%;
    top: 63%;
}

.btn:hover {
    cursor: pointer;
}

#lunbotu {
    width: 90%;
    height: 580px;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    position: relative;
}

#banner {
    width: 450%;
    height: 580px;
    position: absolute;
    transition: 2s;
    left: 0px;
}

#banner img {
    float: left;
}

#clickCircleSet {
    position: absolute;
    top: 90%;
    left: 43%;
}

.clickCircle {
    height: 10px;
    width: 10px;
    border: 1px solid #000;
    z-index: 10;
    float: left;
    list-style: none;
    border-radius: 50%;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
}

.dishNameScrolling {
    position: absolute;
}

.dishPriceScrolling {
    position: absolute;
    font-size: 20px;
}

.daily-dish {
    position: relative;
    left: 50%;
    transform: translate(-50%, 5%);
    font-size: 0;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.dish-list {
    display: flex;
    justify-content: space-around;
}

.inline {
    display: inline-block;
}

.dish-description {
    display: none;
    position: absolute;
    font-size: 30px;
    color: white;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    outline: none;
}

.dish-description:hover {
    cursor: pointer;
}

.addButton {
    text-align: center;
}

.dishImg {
    list-style: none;
    display: inline;
    position: relative;
}

#content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 8%;
}

.biaotou {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 80%;
}

td {
    width: 10rem;
}

#myOrderTitle {
    position: absolute;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, 20%);
}

.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}

#sumPad {
    display: flex;
    text-align: center;
    font-size: 20px;
    align-items: center;
}

#orderConfirm {
    display: flex;
    width: 44%;
    align-items: center;
    justify-content: space-around;
    margin-left: 28%;
    margin-top: 3rem;
}

.orderBtn {
    width: 100%;
    height: 100%;
    border: black solid .2rem;
    background: white;
    font-size: 25px;
    font-weight: bold;
    outline: none;
}

.orderBtn:hover {
    cursor: pointer;
}

.orderBtnDiv {
    width: 28%;
    height: 4rem;
}

#myChartTitle {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    left: 50%;
    display: flex;
    justify-content: center;
}

.chart {
    margin-bottom: 3rem;
    display: block;
    margin-left: 30rem;
}

.stasticToggleSwitch:hover {
    cursor: pointer;
}

aside {
    margin-left: 5%;
}

aside>div {
    position: relative;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside>div div:first-child {
    width: 10rem;
    height: 10rem;
    background: silver;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

aside>div div:nth-child(2) {
    position: absolute;
    left: 2rem;
    width: 30rem;
    background: #777;
    z-index: 0;
    padding: 1rem;
    text-align: right;
    color: white;
    transform: rotate(-90deg);
    transform-origin: 8rem 50%;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 5%;
}

aside>div div:first-child:hover+div {
    transform: rotate(0);
    opacity: 1;
}

.chartArea {
    position: absolute;
    top: 2.5rem;
    width: 40%;
    left: 10%;
}
.pop{
    position: fixed;
    left: 50%; 
    top: 40%; 
    background: rgba(0, 0, 0, 0.6);
    z-index: 12;
    transform: translate(-50%,0);
    color: white;
    border-radius: 5%;
    padding: 2rem;
    font-size: 2rem;
    display: none;
}